doctype html
html(ng-app="app", ng-controller="ApplicationController")
  head
    title= pkg.title
    link(rel="stylesheet", type="text/css", href="/css/app.css", media="all")

  body
    .container(ui-view)

    script(type="text/javascript", src="/js/app.js")
