doctype html
html(ng-app="app")
  head
    title= pkg.title
    link(rel="stylesheet", type="text/css", href="/css/app.css", media="all")

  body
    .container
      .row
        .col-md-6.col-md-offset-3
          #flash.alert.alert-warning(ng-show="flash")
            {{ flash }}

      .row(ui-view)

    script(type="text/javascript", src="/js/app.js")
